<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		/>
</head>
<body>

     <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>we will notify you via email</p>
        <hr>
        <p class="mb-0">Than You for using our service..!</p>
      </div>
</body>
</html>